.count-form-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.count-form span {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.count-form-input {
  margin-right: 10px;
  width: 50px;
}

#count-form-value {
  width: 25px;
  margin-right: 10px;
}

.count-form button {
  margin-top: 20px;
}

.grand-total {
  margin-top: 20px;
}

.count-form {
  text-align: center;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
}

.error,
.loading,
.date-display,
.already-entered {
  text-align: center;
}

.loading {
  animation: blinker 1s linear infinite;
}

.total-match,
.error {
  color: red;
}

.already-entered {
  color: green;
}

.error {
  margin-bottom: 2em;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.date-display {
  margin-bottom: 15px;
}

.generate-button-container {
  display: flex;
  justify-content: center
}
